---
import Layout from '../layouts/Layout.astro';
import { SITE_CONFIG } from '../config';
import { loadAllEntries } from '../lib/entries';
import { footerSummary } from '../lib/collection-index';
import QuickLinks from '../components/home/QuickLinks.astro';
import CollectionIndex from '../components/collection/CollectionIndex.astro';

const entries = await loadAllEntries();
const footerLeft = footerSummary(entries);
const quickLinks = SITE_CONFIG.links ?? [];
---

<Layout footerLeft={footerLeft}>
  <h1 class="sr-only">Vault index</h1>
  {quickLinks.length > 0 && (
    <QuickLinks links={quickLinks} />
  )}

  <CollectionIndex entries={entries} emptyMessage="this vault has no entries yet." />
</Layout>
